.section {
  margin-top: 36px;

  @media (min-width: 769px) {
    display: none;
  }
}

.button {
  position: relative;
  width: 100%;
  height: 60px;
  border-radius: 20px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-inline: 24px;

  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: 800;
    color: #fff;
  }

  svg {
    width: 44px;
    max-height: 100%;
  }
}

.instagramButton {
  background: linear-gradient(190deg, #ffc453, #a830bf 75%);
}

.telegramButton {
  background: #64a9dc;
}

.whatsappButton {
  background: linear-gradient(15deg, #28d146, #5efb7a 75%);

  .text {
    text-shadow: 0 0 11px #12831e;
  }
}
