@font-face {
  font-family: 'caveat';
  src: url('../assets/fonts/Caveat/Caveat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'exo-2-semi-bold';
  src: url('../assets/fonts/Exo_2/static/Exo2-SemiBold.ttf');
}

@font-face {
  font-family: 'nunito';
  src: url('../assets/fonts/Nunito_Sans/NunitoSans-Regular.ttf');
}

@font-face {
  font-family: 'dancing';
  src: url('../assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf');
}
