@font-face {
  font-family: 'exo-2-semi-bold';
  src: url('../assets/fonts/Exo_2/static/Exo2-SemiBold.ttf') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'nunito';
  src: url('../assets/fonts/Nunito_Sans/NunitoSans-Regular.ttf') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'nunito-semi-bold';
  src: url('../assets/fonts/Nunito_Sans/NunitoSans-SemiBold.ttf') format('woff2');
  font-display: swap;
}
