@import 'reset.scss';
@import 'fonts.scss';
@import 'variables.scss';

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-background);
  font-family: var(--font-nunito);
  font-size: 22px;
  line-height: 28px;
  color: var(--main-text-color);

  @media (min-width: 481px) {
    font-size: 20px;
  }
}

main {
  margin-bottom: 54px;
}

section {
  max-width: 768px;
  margin: 36px auto 0;

  @media (min-width: 481px) {
    margin: 54px auto 0;
    padding-inline: var(--section-padding-desktop);
  }
}

h2 {
  font-family: var(--font-caveat);
  font-size: 48px;
  line-height: 48px;

  @media (min-width: 481px) {
    font-size: 54px;
    line-height: 62px;
  }
}

button {
  font-family: var(--font-nunito);
}

a {
  text-decoration: unset;
  color: var(--main-text-color);
}
