@import 'reset.scss';
@import 'fonts.scss';
@import 'variables.scss';

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-background);
  font-family: var(--font-nunito);
  font-size: 16px;
  line-height: 22px;

  @media (min-width: 481px) {
    font-size: 18px;
    line-height: 24px;
  }
}

main {
  margin-bottom: 54px;
}

section {
  max-width: 768px;
  margin: 24px auto 0;
  padding-inline: var(--section-padding-mob);

  @media (min-width: 481px) {
    padding-inline: var(--section-padding-desktop);
  }
}

button {
  font-family: var(--font-nunito);
}
