:root {
  // fonts
  --font-dancing: 'dancing', cursive;
  --font-nunito: 'nunito', sans-serif;
  --font-exo2: 'exo-2-semi-bold', sans-serif;
  --font-caveat: 'caveat', cursive;

  // colors
  --main-text-color: #0a0e11;
  --transparent: #0000;
  --body-background: #fbfbfb;
  --border-color: #23303d;
  --card-background-color: #fff;
  --antiquewhite: #faebd7;
  --green: #14d41a;

  // layout
  --section-padding-desktop: 24px;
  --section-padding-mob: 16px;

  // shadows
  --button-shadow: 0 0 3px 0 var(--border-color);
  --card-shadow: 0 4px 12px 4px #c4c4c485;

  // layout
  --layout-padding-horizontal: 32px;
  --layout-padding-horizontal-mob: 16px;

  --border: 1px solid var(--border-color);
}
