.section {
  display: flex;
  flex-direction: column;
  gap: var(--section-padding-mob);
  padding-inline: var(--section-padding-mob);

  @media (min-width: 481px) {
    flex-direction: initial;
    gap: var(--section-padding-desktop);
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid var(--green);
  border-radius: 20px;

  @media (min-width: 769px) {
    width: 50%;
  }
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.priceDescription {
  margin-top: 8px;
  font-size: 16px;
  text-align: center;
}

.priceWrapper {
  margin-top: 32px;
  text-align: center;
}

.priceValue {
  font-size: 24px;
  font-weight: 600;
}

.priceSign {
  font-size: 20px;
}
