.card {
  @media (min-width: 769px) {
    position: relative;
  }
}

.aboutContent {
  display: flex;
  margin-top: 16px;

  @media (min-width: 769px) {
    margin-top: 24px;
  }
}

.moodImage {
  display: none;

  @media (min-width: 769px) {
    position: absolute;
    display: block;
    bottom: 0;
    right: var(--section-padding-desktop);
    width: 300px;
  }
}

.aboutText {
  font-size: 20px;
  line-height: 28px;

  @media (min-width: 769px) {
    line-height: 32px;
  }
}

.aboutTextIntro {
  @media (min-width: 769px) {
    max-width: 70%;
  }
}

.aboutTextContinuing {
  text-align: justify;

  @media (min-width: 769px) {
    max-width: 60%;
  }
}
