.card {
  @media (min-width: 769px) {
    position: relative;
  }
}

.title {
  text-align: center;

  @media (min-width: 769px) {
    text-align: unset;
  }
}

.content {
  display: flex;
  margin-top: 16px;
}

.text {
  text-align: center;
  font-size: 20px;

  @media (min-width: 769px) {
    max-width: 70%;
    text-align: unset;
  }
}

.moodImage {
  display: none;

  @media (min-width: 769px) {
    position: absolute;
    display: block;
    bottom: -75px;
    right: var(--section-padding-desktop);
  }
}
