.cardWrapper {
  overflow: hidden;
  padding: var(--section-padding-mob);
  background-color: var(--card-background-color);
  box-shadow: var(--card-shadow);

  @media (min-width: 481px) {
    padding: var(--section-padding-desktop);
    border-radius: 5px;
  }
}
