.header {
  position: sticky;
  z-index: 11;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding-inline: var(--layout-padding-horizontal-mob);
  background-color: #fff;
  box-shadow: 0 -15px 15px 5px var(--border-color);

  @media (min-width: 481px) {
    padding-inline: var(--layout-padding-horizontal);
  }

  h1 {
    font-family: var(--font-nunito);
    font-size: 32px;
    font-weight: 700;
  }
}

.nav {
  display: flex;
  gap: 16px;
}
