.card {
  padding: var(--section-padding-mob) 0 var(--section-padding-mob);

  @media (min-width: 481px) {
    padding-block: var(--section-padding-desktop) 0 var(--section-padding-desktop);
  }
}

.title {
  padding-bottom: var(--section-padding-mob);
  text-align: center;

  @media (min-width: 481px) {
    padding-bottom: var(--section-padding-desktop);
  }
}
