.title {
  margin-bottom: 16px;
  text-align: center;

  @media (min-width: 481px) {
    text-align: unset;
  }
}

.item {
  margin-bottom: 16px;
  padding-bottom: 16px;

  &:not(:last-child) {
    border-bottom: 1px dashed var(--border-color);
  }
}

.itemDetail {
  display: flex;
}

.itemTitle {
  margin-bottom: 12px;
  font-family: var(--font-nunito-semi-bold);
  font-size: 19px;
  text-align: center;
}

.itemConditions {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-top: 8px;
}

.itemPeriod {
  font-family: var(--font-nunito-semi-bold);
}

.itemPrice {
  font-family: var(--font-nunito-semi-bold);
  text-align: center;
  color: var(--deep-green);
}

.priceWrapper {
  margin-top: 24px;
  text-align: center;
}

.priceValue {
  font-size: 24px;
  font-weight: 600;
}

.priceSign {
  font-weight: 600;
}
