.sliderWrapper {
  position: relative;
  width: 100%;
  height: 400px;

  @media (min-width: 481px) {
    height: 700px;
  }
}

.img {
  position: absolute;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.controlsWrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
}

.arrowButton {
  display: none;

  @media (min-width: 481px) {
    display: block;
  }
}

.arrowButtonLeft {
  transform: rotate(-180deg);
}

.slidePointerWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.slidePointer {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ccc;

  &.active {
    background: var(--green);
  }
}
