.card {
  padding: var(--section-padding-mob) 0 var(--section-padding-mob);

  @media (min-width: 481px) {
    padding: var(--section-padding-desktop) 0 var(--section-padding-desktop);
  }
}

.title {
  padding-bottom: var(--section-padding-mob);
  text-align: center;

  @media (min-width: 481px) {
    padding-bottom: var(--section-padding-desktop);
  }
}

.resultSliderWrapper {
  display: flex;
  flex-direction: column;
  height: 432px;

  @media (min-width: 481px) {
    height: 665px;
  }
}

.fallback {
  height: 400px;

  @media (min-width: 481px) {
    height: 596px;
  }
}
